// Fonts here

// OpenSans-ExtraBoldItalic
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url('/assets/fonts/HelveticaNeueCyr/Black/OpenSans-ExtraBoldItalic.eot');
  /* IE9 Compat Modes */
  src: url('/assets/fonts/HelveticaNeueCyr/Black/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/HelveticaNeueCyr/Black/OpenSans-ExtraBoldItalic.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/assets/fonts/HelveticaNeueCyr/Black/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    //  url('/assets/fonts/HelveticaNeueCyr/Black/OpenSans-ExtraBoldItalic.svg') format('svg'); /* Legacy iOS */
}