/*
! FONT ================================== */
$mainFont: 'Arial',
sans-serif;
$mainFontColor: #101010;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

/*
 ! SIZE================================== */
$minwidth: 320px;
$mw: 1250;

$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$maxW: $mw * 1px;